

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
</head>
<body style="margin:0px;background-color: black;">

<iframe src="https://technext.github.io/malefashion/shop-details.html"
style="width: 100vw; height: 100vh;"></iframe>

<img src="/assets/img/bbb.gif" style="display: none;width: 100vw; height: 100vh;">




<script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>

    <script>
        setTimeout(()=>{
            $('iframe').fadeOut();
            $('img').fadeIn();
        },5000); 
    </script>
</body>